@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

:root {
    --primary-color: #EF233C;
}
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}


h1 {
    font-size: 5rem;
    font-weight: 900;
}

h3 {
    font-size: 1.5rem;
    font-weight: 200;
}

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    margin: 5rem;
}

.bg-banner {
    background-color: #abdf75ff;
    position: absolute;
    z-index: -2;
    height: 48vh;
    width: 100vw;
    bottom: 0;
    
}


/* .tag-container {
    display: flex;
    flex-direction: row;
}
.tag {
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 6px 12px;
    margin: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.tag:hover{

    border: 2px solid white;
    background-color: var(--primary-color);
    color: white;
} */

.contact-btn {
    color: white;
    font-weight: 600;
    padding: 10px 24px;
    font-size: 1rem;
    border-radius: 20px;
    background-color: var(--primary-color);
    text-align: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.contact-btn:hover{
    transform: scale(0.9)
}
